@model PHS.Models.tbl_Hastaliklar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/SiteMain.cshtml";
}

<div class="container mt-5" style="min-height:330px;">
    <table class="table table-active">
        <thead>
            <tr>
                <th>Tanı</th>
                <th>Tarih</th>
                <th>Klinik</th>
                <th>Doktor</th>
                <th>Kişi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.hastalik_tani)</td>
                <td>@Html.DisplayFor(model => model.hastalik_tarih)</td>
                <td>@Html.DisplayFor(model => model.hastalik_klinik)</td>
                <td>@Html.DisplayFor(model => model.hastalik_hekim)</td>
                <td>@Html.DisplayFor(model => model.tbl_Kisiler.kisi_isimSoyisim)</td>
            </tr>
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.hastalik_id },new { @class="btn btn-primary" })
        @Html.ActionLink("Geri", "Index",null, new { @class = "btn btn-secondary text-white" })
    </p>
</div>

