@model PHS.Models.tbl_Recete

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/SiteMain.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_Recete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recete_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recete_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recete_tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recete_tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recete_tur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recete_tur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recete_hekim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recete_hekim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Kisiler.kisi_isimSoyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Kisiler.kisi_isimSoyisim)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
